/*通用样式*/
html {
    color: #000;
    background: #FFF
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset,
img {
    border: 0
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal
}

ol,
ul {
    list-style: none
}

caption,
th {
    text-align: left
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal
}

q:before,
q:after {
    content: ''
}

abbr,
acronym {
    border: 0;
    font-variant: normal
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit
}

input,
textarea,
select {
    *font-size: 100%
}

legend {
    color: #000
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
}

a {
    text-decoration: none;
}

a,
button,
input {
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}

textarea::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #999;
}

textarea:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #999;
}

textarea::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #999;
}

textarea:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #999;
}

/*通用样式结束*/

.feedback {
    width: 100%;
    height: 100%;
}

.padding {
    padding: 0 3%;
}

.feedback>.title {
    width: 100%;
    line-height: 3rem;
    background-color: #eee;
    border: 1px solid #eee;
}

.title span {
    display: inline-block;
    height: 2.5rem;
    font-size: 16px;
    color: #aaa;
}

.title a {
    float: right;
    font-size: 14px;
    color: dodgerblue
}

.feedback>ul {
    width: 100%;

}

.feedback>ul li {
    border-bottom: 1px solid #eee;
    height: 3.5rem;
    line-height: 3.5rem;
    position: relative;
}

.feedback>ul li:nth-last-child(1) {
    border-bottom: none;
}

.feedback>ul li a {
    display: block;
}

.feedback>ul li span:nth-child(1) {
    color: #000;
}

.feedback>ul li .like-btn {
    display: block;
    width: 1.3rem;
    height: 1.3rem;
    border: 1px solid #eee;
    border-radius: 50%;
    float: right;
    position: relative;
    top: 1.1rem;
}

.feedback>ul li .active {
    background-color: green;
}

.feedback>ul li .like-btn i {
    display: block;
    width: 0.6rem;
    height: 0.4rem;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    position: absolute;
    right: 0.26rem;
    top: 0.31rem;
    transform: rotateZ(-45deg)
}

.content-box {
    display: none;
}

.content-box p {
    display: block;
    height: 3rem;
    line-height: 3rem;
    background-color: #eee;
    color: #aaa;
}

.content-box .text {
    outline: none;
    border: none;
    width: 100%;
    height: 8rem;
    padding: 2% 3%;
    resize: none;
}

.btn-box {
    /* position: fixed;
    bottom: 0; */
    width: 100%;
    height: 5rem;
    background-color: #eee;
    padding-top: 1rem;
}

.btn-box .put-btn {

    display: block;
    width: 100%;
    height: 2.8rem;
    background-color: #ccc;
    border-radius: 10rem;
    text-align: center;
    line-height: 2.8rem;
    color: #fff;
}

.btn-box .active {
    background-color: green;
}

/*弹出*/
.alert {
    display: none;
    width: 5rem;
    line-height: 2.5rem;
    text-align: center;
    position: fixed;
    left: 50%;
    margin-left: -2.5rem;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 0.5rem;
}